@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="WeatherData" asp-action="Getting">Просмотр</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="WeatherData" asp-action="Adding">Добавление</a>
        </li>
    </ul>
</div>
